* {
    box-sizing: border-box;
  }

  /* Edit popup form styling 
  The form pops up at the bottom left (This may be changed)
  */

  .form-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    border: 3px solid #f1f1f1;
    z-index: 9;
    background-color: white;
    padding: 10px;
    max-width: 300px;
  }

  /* Input fields */
  .form-container input[type="text"],
  .form-container input[type="date"],
  .form-container select {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px 0;
    border: 1px solid #ccc;
    background: #f9f9f9;
  }

  .form-container input:focus,
  .form-container select:focus {
    background-color: #eee;
    outline: none;
  }

  /* Buttons */
  .btn {
    background-color: #04AA6D;
    color: white;
    padding: 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.9;
  }

  .btn.cancel {
    background-color: red;
  }

  .btn:hover {
    opacity: 1;
  }
